dump/*.tgz
dump/*.tmp
.DS_Store
log/*.log
log/*.html
tmp/**/*
tmp/*
config/database.yml
config/database.yml.mysql
db/*.sqlite3
*.sw?
nbproject
*~
TAGS
mkmf.log
bin
vendor/bundler_gems
doc
.yardoc
coverage
.bundle
spec/datasets/tmp
.AppleDouble
/.idea
public/stylesheets/compiled
.pow
.sass-cache
